{% include 'Public/Header.html.twig' with {'page_name': 'About'} %}
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>About Us</h1>
            <br />
            <p class="lead">ReplyGenius makes it easy to integrate SMS with everything. Using your Twilio API credentials, you can
            create SMS integrations in under ten minutes - no coding required.</p>
        </div>
    </div>

</div>
{% include 'Public/Footer.html.twig' %}
