{% include 'Public/Header.html.twig' with {'page_name': 'Contact'} %}
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Contact Us</h1>
            <h3>Comments? Complaints? We'd love to hear!</h3>
            <br />
            <p class="lead"><a href="mailto:support@replygenius.com" class="button">Click here to contact us</a></p>
        </div>
    </div>

</div>
{% include 'Public/Footer.html.twig' %}
