{% include 'Public/Header.html.twig' with {'page_name': 'Home'} %}
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Remove negativity from your tweets, now!</h1>

            <a class="btn btn-primary" href="{{ login_url }}">
                Login with Twitter
            </a>

            {% if tweets is defined %}
            <div>
                <h1>No Negative Tweets!</h1>
                <ul>
                    {% for tweet in tweets %}
                        <li> {{ tweet }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% include 'Public/Footer.html.twig' %}
