{% include 'Public/Header.html.twig' with {'page_name': 'Home'} %}
<div class="container">

    <div class="jumbotron" style="padding-top: 75px;">
        <h1>This is your safe space.</h1>
        <p>Read your tweets and mentions without having to worry about all the negativity that usually comes with using Twitter.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ login_url }}" role="button">Login with Twitter</a></p>
        <p>
        <form action="/search" method="get">
            <div class="input-group" style="width: 250px; padding-top: 20px; padding-bottom: 20px;">
                <input type="text" class="form-control" name="searchString" placeholder="Search Twitter...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div>
        </form>
        </p>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            {% if tweets is defined %}
                <div>
                    <div class="alert alert-success" role="alert">Your positivity stream:</div>
                        {% for tweet in tweets %}
                            <div class="well well-sm" style="padding-top: 20px;">{{ tweet }}</div>
                        {% endfor %}
                </div>
            {% else %}
                <div>
                        <div class="alert alert-info" role="alert">We couldn't find any tweets...</div>
                </div>
            {% endif %}
        </div>
    </div>

</div>
{% include 'Public/Footer.html.twig' %}
