{% include 'Public/Header.html.twig' with {'page_name': 'Register'} %}
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Register</h1>

            <p class="lead">Already a member?</p>
            <a class="badge" style="font-size: medium; padding: 10px;" href="/login">Login Here</a>
            <br/>
            <br/>
            {% for error in errors %}
                <div style="color: red;">{{ error }}</div>
            {% endfor %}
            <form action="/register" method="post">
                <input name="username" placeholder="Email Address" type="email"/><br/><br/>
                <input name="password" placeholder="Password" type="password"/><br/><br/>
                <input name="tsid" placeholder="Twilio SID" type="text"/><br/><br/>
                <input name="tauth" placeholder="Twilio Auth Token" type="text"/><br/><br/>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

</div>
{% include 'Public/Footer.html.twig' %}
